@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    margin: auto;
    width: 375px;
    height: 100vh
}

.primary-container {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 77vh;
    border-radius: 15px;
    padding: 10px;
    gap: 25px;
}

img {
    width: 95%;
    margin-top: 7px;
    border-radius: 10px;
}

body p {
    margin: 0;
    text-align: center;
    font-family: Outfit;
    width: 85%
}

.mini-header {
    font-weight: 700;
    font-size: 22px;
}

.sub-text {
    margin-top: -5px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grayish-blue);
}